@charset "UTF-8";

/* Todas as demais mídeas

 Typical Device breakpoints (2024)
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (max-width: 800px) {
    /* CONFIGURAÇÃO PARA CELULAR */
    
    section#login {
        width: 300px;
        height: 618px;
    }

    section#login > div#imagem {
        margin: 12px;
        height: 37%;
        width: 90%;
    }
    section#login > div#formulario {
        transform: translate(5%,7%);
        padding: 20px;
        display: block;
    }

    section#login > div#formulario > h1 {
        font-size: 24px;
        transform: translateY(-42px);
        text-align: center;
        margin-right: 25px;
    }

    section#login > div#formulario > p#jatemconta {
        transform: translateY(267px);
        text-align: center;
        margin-right: 25px;
    }

    div.campo1 > input , div.campo2 > input , div.campo > input  {
        transform: translateY(-50px);
        width: 232px;
        height: 30px;
        margin-bottom: 8px;
    }

    label#termo {
        padding-top: 1px;
        transform: translateX(-30px);
        font-size: 12px;
    }

    div#campobox {
        padding-top: 10px;
        transform: translateY(-60px);
    }

    form > input[type=submit] {
        display: block;
        font-size: 1.2em;
        height: 35px;
        width: 232px;
    transform: translateY(-60px);
    }

    .divider {
        transform: translateY(-60px);
        font-size: 13px;
        padding-right: 25px;
        
    }

    .divider::before {
        left: 0;
        transform: translateY(0px);
        padding-left: 40px;
        width: 8%;
    }

    .divider::after {
        right: 0;
        padding-left: 40px;
        width: 8%;
    }

    .brand-logo {
        width: 15px;
        height: 15px;
        transform: translateY(0);
    }

    a#google , a#apple {
        display: flex;
        align-items: center;
        justify-content: center; /* Se quiser centralizar o texto com imagem */
        gap: 8px; /* Espaço entre logo e texto */
        transform: translateY(-62px);
        width: 111px;
        height: 32px;
    }

    a#apple {
        margin-left: 10px;
        float: left;
    }

    a#google:hover , a#apple:hover  {
        transform: translateY(-65px);
    }
}