@charset "UTF-8";

/* Todas as demais mídeas

 Typical Device breakpoints (2024)
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (max-width: 768px) {
    /* CONFIGURAÇÃO PARA CELULAR */

    section#login {
        width: 300px;
        height: 618px;
    }

    section#login > div#imagem {
        margin: 12px;
        height: 37%;
        width: 90%;
    }
    section#login > div#formulario {
        transform: translate(5%,7%);
        padding: 12px;
        display: block;
    }

    section#login > div#formulario > h1 {
        font-size: 24px;
        transform: translateY(-47px);
        text-align: center;
        padding-bottom: 5px;
        margin-right: 28px;
    }

    section#login > div#formulario > p#jatemconta {
        transform: translateY(257px);
        text-align: center;
        margin-right: 25px;
    }

    div.campo1 > input , div.campo2 > input , div.campo > input  {
        transform: translateY(-60px);
        width: 242px;
        height: 30px;
        margin-bottom: 8px;
    }

    label#termo {
        font-size: 12px;
        color: rgb(203, 206, 209);
        display: inline;
        float: none;
        transform: none;
        padding: 5px;
    }

    div#campobox {
        display: flex;
        align-items: center;
        gap: 0.5px;
        flex-wrap: wrap;
        margin-bottom: 10px;
        transform: translateY(-50px);
    }

    form > input[type=submit] {
        display: block;
        font-size: 1.2em;
        height: 35px;
        width: 232px;
    transform: translateY(-60px);
    }

    .divider {
        transform: translateY(-60px);
        font-size: 13px;
        padding-right: 25px;
        
    }

    .divider::before {
        left: 0;
        transform: translateY(0px);
        padding-left: 40px;
        width: 8%;
    }

    .divider::after {
        right: 0;
        padding-left: 40px;
        width: 8%;
    }

    .brand-logo {
        width: 15px;
        height: 15px;
        transform: translateY(0);
    }

    a#google , a#apple {
        display: flex;
        align-items: center;
        justify-content: center; /* Se quiser centralizar o texto com imagem */
        gap: 8px; /* Espaço entre logo e texto */
        transform: translateY(-62px);
        width: 111px;
        height: 32px;
    }

    a#apple {
        margin-left: 10px;
        float: left;
    }

    a#google:hover , a#apple:hover  {
        transform: translateY(-65px);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    div.campo {
            transform: translateY(-36px);
        }

    p#esqueceusuasenha {
    transform: translateY(-40px);
        }
}

@media screen and (min-width: 992px) {
    /* CONFIGURAÇÃO PARA DESKTOP */

    section#login {
        width: 950px;
        height: 600px;
    }

    section#login > div#imagem {
        margin: 12px;
        height: 96%;
        width: 50%;

        float: right;
    }
    
    section#login > div#formulario {
    transform: translate(5%,10%);
    padding-top: 40px;
    padding-left: 20px;
    display: block;
    }

    section#login > div#formulario > h1 {
        font-size: 50px;
        transform: translateY(-42px);
    }

    section#login > div#formulario > p#jatemconta {
        font-size: 16px;
        color: rgb(203, 206, 209);
        transform: translateY(-30px);
    }

    div.campo1 > input , div.campo2 > input {
        width: 155px;
        height: 40px;
        margin-bottom: 20px;
    }

    div.campo {
            transform: translateY(-36px);
        }

    p#esqueceusuasenha {
    transform: translateY(-40px);
        }

    div.campo > input {
        width: 320px;
        height: 40px;
        margin-bottom: 20px;
    }

    div#campobox {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    label#termo {
        font-size: 16px;
        color: rgb(203, 206, 209);
        display: inline;
        float: none;
        transform: none;
        padding: 0;
    }

    form > input[type=submit] {
        
        font-size: 1.4em;
        height: 45px;
        width: 320px;
    }

    .divider {
        font-size: 15px;
        transform: translateX(-55px);
        
    }
    
    .divider::before {
        left: 0;
        transform: translateY(0px);
        margin-left: 56px;
        padding-left: 40px;
        width: 6.2%;
    }

    .divider::after {
        right: 0;
        padding-left: 40px;
        width: 6.2%;
        transform: translateX(-506px);
    }
    
    .brand-logo {
        width: 30px;
        height: 30px;
        transform: translateY(0);
    }
    
      a#google , a#apple {
        display: flex;
        align-items: center;
        justify-content: center; /* Se quiser centralizar o texto com imagem */
        gap: 8px; 
        width: 155px;
        height: 45px;  
    }
    
    a#apple {
        margin-left: 60px;
        float: left;
    }
    
    a#google:hover {
        transform: translateY(-3px); 
    } */
}
